*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Primary color */
/* rgb(1, 75, 160) */

/* General Styles */

.txt-light-grey{
    color: rgba(19, 19, 24, 0.70);
}

body{
    margin: 0rem 8.44rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #131318;
}

.txt-prim{
    color: rgb(1, 75, 160);
}

.font125{
    font-size: 1.25rem;
    font-weight: 800;
}

.font15{
    font-size: 1.5rem;
    font-weight: 800;
}

.font25{
    font-size: 2.5rem;
    font-weight: 800;
}

/* Header */
header{
    display: flex;
    margin-top: 3.25rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
}

.logo-name{
    display: flex;
    align-items: center;
}

.logo-name > img{
    margin-right: 1.04rem;
    max-height: 5rem;
}

.nav-bar ul{
    display: flex;
    align-items: center;
    gap: 2.75rem;
}

.nav-bar a, .nav-bar li{
    list-style: none;
    text-decoration: none;
    color: #424247;
}

#menu-toggle {
    display: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.25rem;
    background: black;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}


/* Explore section */
.explore{
    margin-top: 3.06rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 31rem;
    border-radius: 1rem;
    color: #fff;
}

.explore-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.explore-content h1{
    font-size: 4rem;
}

.explore-content p{
    max-width: 42rem;
}

.search-bar{
    margin-top: 3rem;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 1rem;
    align-items: center;
    gap: 1.5rem;
}

.search-bar input::placeholder{
    color: rgba(19, 19, 24, 0.50);
}

.search-bar .field{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    border: none;
    background: #fff;
    padding-left: 1rem;
    
}

.input-container {
    position: relative;
    width: 10.875rem; 
}

.input-container .field {
    width: 100%;
    padding-left: 10px; 
}

.input-container svg {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
}

.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 10.875rem;
    height: 3.25rem;
    background: rgb(1, 75, 160);
    color: white;
    border-radius: 0.5rem;
    font-weight: 700;
}

/* Popular tours section */
.popular-tours{
    margin-top: 3.06rem;
    display: flex;
    align-items: center;
    gap: 3.31rem;
}

.popular-tours p, .popular-tours h2, .popular-tours ul{
    margin-bottom: 1.5rem;
}

.tours-body{
    line-height: 1.625rem
}

.tours-body ul{
    padding-left: 1.5rem;
}

.tours-body ul li::marker {
    color: #5A5A5D;
}

.tours-img{
    height: 100%;
    border-radius: 1rem;
} 

/* why choose us section styles */
.choose-us{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.25rem;
}

.choose-us > .body-txt > p{
    margin: 1.5rem 0 3rem;
    width: 41rem;
}

.cards{
    width: 35.8125rem;
    height: 17.75rem;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
}

.cards h3{
    margin-top: 2rem;
}
.cards p{
    margin-top: 1rem;
    width: 30rem;
}

.cards-2{
    display: flex;
    gap: 1.5rem;
}

.c1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.c2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.c3{
    margin-top: 1.5rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
